.page-header
    display: flex
    justify-content: space-between
    align-content: center
    padding: 7vh 7vw
    background-color: $intro-bg-color
    @media (max-width: 580px)
        padding: 7vh 10vw
        .logo
            width: 30vw
        >.page-menu
            flex-basis: 200px
            font-size: 0.8rem
            
.logo-ancor
    width: max-content

.page-menu
    display: flex
    flex-basis: 250px
    justify-content: space-between
    align-items: center
    margin-left: 30px
    >li
        border-bottom: 1.5px solid $intro-bg-color
        transition: border-color 0.3s
    >li:hover
        border-color: $primary-accent-color

.main-wrapper
    display: grid
    background-color: $main-bg-color
    >*
        padding: 0 7vw
    
.page-intro
    display: grid
    grid-row-gap: 5vh
    justify-items: center
    padding-top: 3rem
    padding-bottom: 100px
    background:
        color: $intro-bg-color
        image: url("../img/bg-curvy-desktop.svg")
        repeat: no-repeat
        position-y: 101%
        size: 100%
    >.title
        max-width: 700px
        text-align: center
        line-height: 50px
        font-size: $bigger-font-size
    >.text
        max-width: 560px
        text-align: center
        font-size: 18px
    >.btn
        margin-top: -10px
    @media (max-width: 810px)
        grid-gap: 3vh
        >.title
            line-height: 40px
            font-size: $big-font-size
    @media (max-width: 575px)
        background-image: url("../img/bg-curvy-mobile.svg")
        >.title
            line-height: 30px
            font-size: $medium-font-size
        >.text
            font-size: 15px
            max-width: 345px
        >.btn
            margin-top: 0px
      
.why-us
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    grid-gap: 50px
    grid-row-gap: 100px
    justify-content: center
    justify-items: center    
    @media (max-width: 720px)
        grid-template-columns: 1fr
.why-us-item
    display: grid
    grid-template-rows: auto min-content auto
    justify-items: center
    text-align: center
    max-width: 370px
    >.img
        margin-bottom: 20px
    >.title
        align-content: center
        margin-bottom: 10px

.more-info
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 40px
    justify-items: center
    align-items: center
    margin-top: 15vh
    margin-right: auto
    margin-left: auto
    line-height: 22px
    max-width: 1400px
    @media (max-width: 850px)
        grid-template-columns: fit-content(480px)
        justify-content: center
        .info-text
            >.title
                font-size: $medium-font-size
    @media (max-width: 530px)
        .info-text
            >.title
                line-height: 18px
                font-size: 1rem
.info-text
    max-width: 480px
    >.title
        margin-bottom: 15px
        line-height: 50px
        font-size: $bigger-font-size
    >.text
        margin-bottom: 15px
    >.link
        border-bottom: 1px solid $primary-accent-color
        color: $primary-accent-color
    
.costumers-testimonials
    position: relative
    display: grid
    grid-template-columns: repeat(3, fit-content(360px))
    justify-items: center
    justify-content: space-between
    grid-column-gap: 20px
    margin: 22vh auto
    padding: 0
    width: 80vw
    @media (max-width: 995px)
        grid-template-columns: 1fr
        grid-row-gap: 20px
    &::before
        content: url("../img/bg-quotes.png")
        position: absolute
        left: -10px
        top: -35px      

.testimonial-box
    padding: 30px
    border: 5px solid $intro-bg-color
    border-radius: 5px
    background-color: $testimonial-bg-color
    z-index: 1
    >.text
        margin-bottom: 25px

.costumer-profile
    display: grid
    grid-template-columns: 38px 1fr
    grid-column-gap: 5px
    >.img
        grid-row: 1/ span 2
        width: 100%
        border-radius: 50%
    >.name
        font-weight: $bold-weight
    >.role
        grid-column: 2

.get-started
    display: grid
    grid-template-columns: 1fr
    justify-items: center
    border-radius: 5px
    box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.3)
    padding: 3rem 4rem
    max-width: 690px
    margin-right: auto
    margin-left: auto
    margin-bottom: -110px
    background-color: $signup-bg-color
    >.title
        font-size: $big-font-size
    >.text
        grid-column: 1 / span 2
        text-align: center
        margin-top: 20px
        margin-bottom: 30px
    @media (max-width: 750px)
        padding: 10%
        >.title
            font-size: $medium-font-size
    @media (max-width: 560px)
        >.title
            font-size: 1rem
.signup-form
    display: grid
    grid-template-columns: 1fr minmax(160px, 30%)
    grid-template-rows: repeat(2, max-content)
    grid-gap: 20px
    width: 100%
    >.input
        width: 100%
    >.btn
        width: 100%
    >.msgError
        margin-left: 15px
        margin-top: -15px
    @media (max-width: 750px)
        grid-template-columns: 1fr
        >.msgError
            order: 1
        >.btn
            order: 2
.page-footer
    display: grid
    grid-template-rows: 120px
    grid-column-gap: 25px
    grid-template-areas: "logo logo logo logo" "company-location company-contact nav-links social-media"
    justify-content: space-between
    padding-top: 200px
    padding-bottom: 100px
    padding-right: 8vw
    padding-left: 8vw
    background-color: $footer-bg-color
    // QUERY 1000px
    @media (min-width: 621px) and (max-width: 1000px)
        grid-template-rows: 80px
        grid-template-areas: "logo logo" "company-location company-location" "company-contact company-contact" "nav-links social-media" 
        grid-row-gap: 20px

        >.nav-links
            padding-top: 50px

        >.social-media
            align-items: center
            padding-top: 50px
    // QUERY 620px
    @media (max-width: 620px)
        grid-template-columns: 1fr
        grid-template-rows: auto
        grid-row-gap: 40px
        grid-template-areas: "logo" "company-location" "company-contact" "nav-links" "social-media"
        >.nav-links
            grid-template-columns: 1fr
            grid-gap: 20px
        >.social-media
            display: flex
            justify-content: center
    >.logo-ancor
        grid-area: logo
    >.company-location
        display: grid
        grid-template-columns: max-content 1fr
        grid-gap: 15px
        grid-area: company-location
        max-width: 320px
    >.company-contact
        display: grid
        grid-template-columns: max-content 1fr
        grid-template-rows: max-content max-content
        grid-gap: 15px
        grid-area: company-contact

.nav-links
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 80px
    line-height: 35px
    grid-area: nav-links

.social-media
    grid-area: social-media
    >.social-links
        display: grid
        grid-template-columns: repeat(3, max-content)
        grid-gap: 20px
    a:hover
        color: $primary-accent-color
    