.title
    font-family: $headings-font

.btn
    width: 175px
    height: 40px
    border-radius: 20px
    text-transform: capitalize
    color: white
    background-image: linear-gradient(135deg, $primary-accent-color, $secondary-accent-color)
    &:hover
        cursor: pointer
        background:
            color: $primary-accent-color 
            image: none

.input
    padding: 0 2%
    width: 25%
    height: 40px
    border-radius: 20px

.social-media
    >i
        display: inline-flex
        justify-content: center
        border: 1px solid #fff
        border-radius: 50%
        padding: 5px 0
        width: 25px

.social-links
    >li
        display: inline-flex
        justify-content: center
        border: 1px solid #fff
        border-radius: 50%
        padding: 5px 0
        width: 25px